@media screen and (max-width: 768px){
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills{
        display: flex;
        height: 50px;
        width: 60px;
    }
}
body{
    background-color: rgba(249,249,249,255);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 2rem;
}
#ul-menu{
    display: flex;
    list-style-type: none;
}
li{
    padding-left: 20px;
}
div{
    display: flex;
    align-items: center;
}
#photo{
    width: 8rem;
    height: 8rem;
    padding-right: 10px;
}
aside{
    padding-left: 10px;
}
.skills{
    height: 60px;
    width: 70px;
}
#Contato{
    display: block;
}
.link-contato{
    display: flex;
    align-items: center;
}
.contato{
    width: 50px;
    padding-right: 0.5rem;
}