body{
    background-color: rgba(249,249,249,255);
}
menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 2rem;
}
#ul-menu{
    display: flex;
    list-style-type: none;
}
li{
    padding-left: 20px;
}
div{
    display: flex;
    align-items: center;
}
#photo{
    width: 8rem;
    height: 8rem;
    padding-right: 10px;
}
aside{
    padding-left: 10px;
}
.skills{
    height: 50px;
    width: 60px;
}
.contato{
    width: 64px;
}